.s1 {
  background-color: #eaeaea;
  border-bottom: 1px solid #c1c1c1;
  overflow: auto;
}

.s2 {
  background-color: #fff;
  border-bottom: 1px solid #c1c1c1;
  overflow: auto;
}

.maincontainer {
  width: 1200px;
  margin: 0 auto;
}

.greetingwrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.introwrapper {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'navwrapper navwrapper'
    'leftcolumn rightcolumn';
}

.navwrapper {
  border-radius: 5px 5px 0 0;
  grid-area: navwrapper;
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
}

.dotswrapper {
  display: flex;
  padding: 10px;
}

#dot1 {
  background-color: #fc6058;
}

#dot2 {
  background-color: #fec02f;
}

#dot3 {
  background-color: #2aca3e;
}

.browserdot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

#navigation a{
	color:black;
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.leftcolumn {
  grid-area: leftcolumn;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;

  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

#themeoptionswrapper {
  display: flex;
  justify-content: center;
}

.themedot {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;

  margin: 5px;
  border: 2px solid #24292e;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.themedot:hover {
  border-width: 5px;
}

#lightmode {
  background-color: #fff;
}

#bluemode {
  background-color: #192734;
}

#greenmode {
  background-color: #78866b;
}

#purplemode {
  background-color: #7e4c74;
}

#settings_note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.rightcolumn {
  grid-area: rightcolumn;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: rgb(251, 249, 243, 0.8);
  padding: 15px;
  position: relative;
}

#preview_shadow {
  background-color: #f0ead6;
  max-width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner_tl {
  top: -5px;
  left: -5px;
}

#corner_tr {
  top: -5px;
  right: -5px;
}

#corner_br {
  bottom: -5px;
  right: -5px;
}

#corner_bl {
  bottom: -5px;
  left: -5px;
}

.aboutwrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 50px;
  padding-top: 50px;
  gap: 100px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: #f0ead6;
}

.sociallinks {
  display: grid;
  align-content: center;
  text-align: center;
}

#social_img {
  width: 100%;
}


